<div class="form-block">
	<div class="form-container">
			
	  <div class="floated-labels input-block">
	      <div class="floated-wrapper">
	          <label>Name (optional)</label>
	          <input name="name" ng-model="$root.feedback.name" type="text">
	      </div>
	  </div>

	  <div class="floated-labels input-block">
	      <div class="floated-wrapper">
	          <label>Name (optional)</label>
	          <input name="name" ng-model="$root.feedback.name" type="text">
	      </div>
	  </div>

	  <div class="floated-labels input-block">
	      <div class="floated-wrapper">
	          <label>Name (optional)</label>
	          <input name="name" ng-model="$root.feedback.name" type="text">
	      </div>
	  </div>

	</div>
</div>
