<div class="bg-blue fullscreen">
	<div class="panel with-pills fullscreen">
		<h1>Hello, world! (3)</h1>

		<p class="gutter-bottom-30">Будет сообщать Вам о важных событиях, новых пациентах. Будет давать рекомендации по использованию системы. Он будет поддерживать контакт с Вашими пациентами, пока Вы будете заняты.</p>

		<div><a href="#" class="btn-ellipse btn-blue gutter-bottom-5">познакомиться</a></div>
		<div><a href="#" class="btn-link btn-blue btn-sm">пропустить</a></div>

		<div class="nav-pills">
			<span class="active"></span>
			<span></span>
		</div>
	</div>
</div>
