<div class="fixed-header">
	<%= render 'shared/elements/header' %>
	<%= render 'shared/elements/header_tabs' %>
</div>

<div class="container scrollable">
	<%= render 'shared/screens/boxes' %>
</div>

