<div class="fixed-header">
	<%= render 'shared/elements/header' %>
	<%= render 'shared/elements/header_tabs' %>
</div>

<div class="container scrollable">
	<%= render 'shared/elements/search_input' %>

	<% 20.times do %>
		<%= render 'shared/elements/patient_panel' %>		
	<% end %>

</div>

