<header>
	<a href="#" class="action action-left">
		<i class="id4md-sandwich"></i>
	</a>

	<span><%= image_tag 'ui/logo@2x.png', class: "logo" %></span>

	<a href="#" class="action action-right">
		<i class="id4md-adduser"></i>
	</a>
</header>
