<div class="header-filters">
	<div>
		<span>Все пациенты</span><i class="caret"></i>
	</div>
	<ul class="filter-variants">
		<li class="active"><a href="#">Все пациенты</a></li>
		<li><a href="#">Непрочитанные</a></li>
		<li><a href="#">Скоро визит</a></li>
	</ul>
</div>
