<div class="header-tabs">
	<ul>
		<li><a href='#'>Профиль</a></li>
		<li><a href='#'>Чат<span class="badge badge-green">3</span></a></li>
		<li class="active"><a href='#'>Назначения<span class="badge badge-grey">10</span></a></li>
		<li><a href='#'>Направления<span class="badge badge-grey">2</span></a></li>
		<li><a href='#'>Визиты<span class="badge badge-grey">3</span></a></li>
	</ul>
</div>
