<div class="fixed-header">
	<header>
			<a ui-sref="dashboard" class="action action-left">
				<img src='/ui/icons/back@2x.png' >
			</a>

			<span>Новый пациент</span>

			<div class="action action-left"></div>
			
	</header>
</div>
	
<div class="container scrollable">
	<form ng-submit="invitePatient()">
		<div class="form-block with-delimiter gutter-top--15">
			<div class="form-container">
				<div ng-repeat="field in patientsFields">
					<ng-include src="field.templateUrl"></ng-include>
				</div>
			</div>
		</div>

		<div class="form-picker with-delimiter">
			Специальная отметка
		</div>

		<div ng-if="patient.invited == true">
			<div class="alert-success">
				<i class="id4md-donecircle-l"></i>
				<div>Приглашение отправлено</div>
			</div>
			
			<a href="#" class="btn btn-blue gutter-top-20">Начать общение</a>
		</div>

		<div ng-if="patient.invited == false">
			<input type="submit" name="submit" value="Отправить SMS приглашение" class="btn btn-blue gutter-top-20 gutter-bottom-20">
		</div>
		
	</form>
</div>
