<div class="fixed-header">

	<ng-include src="'templates/doctors/ui/patients/headers/dashboard.html'"></ng-include>

</div>
	
<div class="container scrollable">

	<form ng-submit="update()" class="gutter-bottom-10">
		<div class="form-block with-delimiter gutter-top--15">
			<div class="form-container">
				<div ng-repeat="field in patientsFields">
					<ng-include src="field.templateUrl"></ng-include>
				</div>
			</div>
		</div>

		<div class="form-picker with-delimiter">
			Специальная отметка
		</div>

		<div>
			<input type="submit" name="submit" value="Сохранить" class="btn btn-blue gutter-top-20">
		</div>
		
	</form>

</div>
