<div class="fixed-header">
	<ng-include src="'templates/doctors/ui/patients/headers/dashboard.html'"></ng-include>
</div>

<div class="container scrollable" ng-controller="Doctors.PatientsVisitsCtrl">
	<ul class="list">
		<li ng-repeat="visit in visits">
			<span class="label gutter-bottom-5">Дата</span>
			<div class="text-big">{{ visit.date | date: "dd.MM.yyyy" }}</div>

			<span class="label gutter-bottom-5 gutter-top-20">Место</span>
			<div>{{ visit.address }}</div>
		</li>
		<li class="action">
			<i class="id4md-clock-s" style="margin-top:-3px;"></i>
			История визитов
			<span class="info">
				Пусто
			</span>
		</li>
	</ul>
</div>

<div class="bg-gray bg-abs"></div>
