html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: table;
	overflow: hidden;
}

html {
	-webkit-text-size-adjust: 100%;
	font-family: 'Open Sans', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import 'ui/shared/mixins';
@import 'ui/shared/gutters';
@import 'ui/shared/helpers';
@import 'ui/shared/test';

.doctor {
	@import 'ui/doctor/vars';

	@import 'ui/doctor/background';
	@import 'ui/doctor/panels';
	@import 'ui/doctor/buttons';
}
