.container {
	padding: $vertical-gutters $horizontal-gutters;
	font-size: 12px;
}

.header-adjust {
	margin-top: 65px;
}

.header-with-filters-adjust {
	margin-top: 105px;
}

.text-center {
	text-align: center;
}

#sidebar {
	display: none;
	margin: -12px -15px;
	color: white;

	header {
		background: transparent;
		a {
			color: #9aa1b2;
			&:hover, &:active, &:focus {
				color: #fff;
			}
		}
	}

	.sidebar-content {
		padding: 12px 30px;
	}

	.sidebar-menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-top: 80%;

		li {
			a {
				color: white;
				line-height: 50px;
				text-decoration: none;
				display: block;

				i {
					font-size: 15px;
					vertical-align: middle;
					margin-top: -1px;
					display: inline-block;
					line-height: 50px;
					margin-right: 10px;
				}
			}
		}
	}
}
