<div class="fixed-header">
	<ng-include src="'/templates/patients/ui/headers/dashboard.html'"></ng-include>
</div>

<div class="container scrollable" ng-controller="ChatCtrl">
	
	<a href="javascript:void(0)" ng-if="needLoad" ng-click="loadMessages()">Load more..</a>

	<div ng-repeat="(date, messagesList) in messages | orderBy: 'id' | groupBy: 'date'">
		
		<div class="chat-date-separator">{{date}}</div>

		<div class="message {{ message.type }}" ng-repeat="message in messagesList" ng-class="{'incoming': message.sender_type != 'Patient', 'outcome': message.sender_type == 'Patient'}">
			<div class="time" ng-if="message.sender_type == 'Patient'">{{ message.created_at | date: "HH:mm" }}</div>
			<div class="text-wrapper">
				<div class="text">{{ message.body }}</div>
			</div>
			<div class="time" ng-if="message.sender_type != 'Patient'">{{ message.created_at | date: "HH:mm" }}</div>
		</div>

	</div>

</div>

<div id="chat-form">
	<textarea placeholder="Сообщение" rows="1" ng-model="message.text"></textarea>
	<div class="action-button">
		<a href="javascript:void(0)" ng-click="sendMessage()">
			<i class="id4md-send"></i>
		</a>	
	</div>
</div>
