<div class="fixed-header">
	<ng-include src="'/templates/patients/ui/headers/dashboard.html'"></ng-include>
</div>

<div class="container scrollable" ng-controller="ChatCtrl">
	
	<div class="message incoming">
		<div class="text-wrapper">
			<div class="text">Incomming message</div>
		</div>
		<div class="time">hh:mm</div>
	</div>

	<div class="message incoming">
		<div class="text-wrapper">
			<div class="text">Box placed with 10 pt margins, 13pt cerning, 20pt line spacing for Incomming message</div>
		</div>
		<div class="time">hh:mm</div>
	</div>

	<div class="chat-date-separator">Среда 18 Мая 2016</div>

	<div class="message outcome">
		<div class="time">hh:mm</div>
		<div class="text-wrapper">
			<div class="text">Box placed with 10 pt margins, 13pt cerning, 20pt line spacing for outcomming message</div>
		</div>
	</div>

	<div class="message outcome appointment">
		<div class="time">hh:mm</div>
		<div class="text-wrapper">
			<div class="text">иммунокорректоры ( виферон) и нестероиды, с целью профилактики осложнений.</div>
		</div>
	</div>

	<div class="message outcome visit">
		<div class="time">hh:mm</div>
		<div class="text-wrapper">
			<div class="text">Визит 12 мая по адресу Москва, ул. Рябиновая, дом 19</div>
		</div>
	</div>

	<div class="message outcome diagnosis">
		<div class="time">hh:mm</div>
		<div class="text-wrapper">
			<div class="text">повторно обратиться к гинекологу и повторить УЗИ на 5- 7 день цикла.</div>
		</div>
	</div>

	<div class="chat-date-separator">Четверг 19 Мая 2016</div>

	<div class="message incoming">
		<div class="text-wrapper">
			<div class="text">Box placed with 10 pt margins, 13pt cerning, 20pt line spacing for Incomming message</div>
		</div>
		<div class="time">hh:mm</div>
	</div>
	
	<div class="message outcome">
		<div class="time">hh:mm</div>
		<div class="text-wrapper">
			<div class="text">Box placed with 10 pt margins, 13pt cerning, 20pt line spacing for outcomming message</div>
		</div>
	</div>



</div>
