<header>
	<a ui-sref="chat" class="action action-left">
		<i class="id4md-left-l"></i>
	</a>

	<span>
		Личный профиль
	</span>

	<div class="action action-right"></div>
</header>

<div class="container scrollable">
	<form ng-submit="update()" class="gutter-bottom-10">
		<div class="pseudo-avatar"></div>
		<div class="profile-name">{{security.current_user.name}}</div>

		<div class="form-block with-delimiter gutter-top--15">
			<div class="form-container">
				<div ng-repeat="field in patientsFields">
					<ng-include src="field.templateUrl"></ng-include>
				</div>
			</div>
		</div>

		<div>
			<input type="submit" name="submit" value="Сохранить" class="btn btn-blue gutter-top-20">
		</div>
		
	</form>


</div>
