.btn-ellipse, .btn-link {
	display: inline-block;
	padding: 0 35px;

	line-height: 50px;
	font-size: 14px;
	font-weight: normal;

	text-decoration: none;
	color: #333;
	text-align: center;

	cursor: pointer;
	@include user-select(none);
	@include touch-action(manipulation);
}

.btn-ellipse {
	border-radius: 25px;
	background-color: $grey_color;

	@include transition(background-color 200ms ease-out);

	&.btn-blue {
		background-color: $blue_color;
		color: white;
		&:hover, &:active, &:focus {
			background-color: lighten($blue_color, 10%);
		}
	}
}

.btn-link {
	@include transition(color 200ms ease-out);

	&.btn-blue {
		color: $blue_color;

		&:hover, &:active, &:focus {
			color: darken($blue_color, 20%);
		}
	}
}

.btn-sm {
	font-size: 12px;
	line-height: 40px;
}
