.btn-ellipse, .btn-link {
	display: inline-block;
	padding: 0 35px;

	line-height: 50px;
	font-size: 14px;
	font-weight: normal;

	text-decoration: none;
	color: #333;
	text-align: center;

	cursor: pointer;
	@include user-select(none);
	@include touch-action(manipulation);
}

.btn-ellipse {
	border-radius: 25px;
	background-color: $grey_color;

	@include transition(background-color 200ms ease-out);

	&.btn-blue {
		background-color: $blue_color;
		color: white;
		&:hover, &:active, &:focus {
			background-color: lighten($blue_color, 10%);
		}
	}
}

.btn-link {
	@include transition(color 200ms ease-out);

	&.btn-blue {
		color: $blue_color;

		&:hover, &:active, &:focus {
			color: darken($blue_color, 20%);
		}
	}
}

.btn-sm {
	font-size: 12px;
	line-height: 40px;
}

.btn-login {
	width: 100%;
	background: white;
	border: none;
	border-radius: 4px;
	line-height: 50px;
	padding: 0;
	color: #3da4f4;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;

	@include transition(background-color 200ms ease-out);

	&:hover, &:active, &:focus {
		background-color: rgba(#fff, 0.9);
	}
}

.btn {
	display: block;
	text-decoration: none;
	width: 100%;
	border-radius: 5px;
	line-height: 50px;
	font-size: 13px;
	text-align: center;
	border: none;
	background: #ccc;
	color: white;
	padding: 0;
	@include transition(background-color 200ms ease-out);
	cursor: pointer;

	&:hover, &:active, &:focus {
		background: lighten(#ccc, 5%);
	}

	&.btn-blue {
		background-color: #3da4f4;
		&:hover, &:active, &:focus {
			background: lighten(#3da4f4, 5%) !important;
		}
	}
}
