.form-block {
	margin-left: -$horizontal-gutters;
	margin-right: -$horizontal-gutters;
	padding: 20px $horizontal-gutters;

	background: white;

	vertical-align: top;
	
	.form-container {
		// display: table;
		width: 100%;
		vertical-align: top !important;
	}

	&.with-delimiter {
		border-bottom: 10px solid #e9ecf5;
	}
}

.form-picker {
	margin: 0 -15px;
	padding: 0 15px;
	font-size: 14px;
	line-height: 60px;
	color: #2b313e;
	font-weight: 100;

	&.with-delimiter {
		border-bottom: 10px solid #e9ecf5;
	}	
}

.form-delimiter {
	margin: 20px (-$horizontal-gutters) 0;
	background: #e9ecf5;
	height: 10px;
}

#chat-form {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	padding: 10px 15px;
	background: white;
	border-top: 1px solid rgba(43,49,62, 0.05);
	display: table;

	textarea {
		line-height: 15px;
		border: none;
		padding: 12.5px 10px;
		background: #f5f5f5;
		height: auto;
		resize: none;
		width: 100%;
		border-radius: 6px;
		outline: none;
		font-size: 12px;

		display: table-cell;
		width: 100%;
		vertical-align: top;
	}

	.action-button {
		display: table-cell;
		vertical-align: top;
		width: 20px;
		padding-left: 12px;

		a {
			color: #9aa1b2;
			font-size: 20px;
			text-decoration: none;
			display: block;
			line-height: 40px;
			outline: none;
		}
	}
}
