// .panel {
// 	position: relative;

// 	display: table;
// 	width: 100%;
// 	padding: 10px;

// 	background-color: white;
// 	color: #333;
// 	@include border-radius(5px);
// 	@include box-shadow(0 0 3px rgba(0, 0, 0, 0.3));

// 	&.with-pills {
// 		padding-bottom: 52px;
// 	}

// 	.nav-pills {
// 		position: absolute;
// 		bottom: 0;
// 		left: 0;

// 		display: block;
// 		width: 100%;
// 		padding-bottom: 22px;

// 		font-size: 0;
// 		text-align: center;

// 		> span {
// 			display: inline-block;
// 			width: 8px;
// 			height: 8px;
// 			margin: 0 6px;
// 			vertical-align: middle;

// 			background-color: $grey_color;
// 			@include border-radius(4px);

// 			&.active {
// 				background-color: $blue_color;
// 			}
// 		}
// 	}

// 	p {
// 		font-size: 14px;
// 		line-height: 25px;
// 		padding: 0px 40px;
// 	}
// }

.panel {
	margin: -$vertical-gutters (-$horizontal-gutters) 0;
	padding: $vertical-gutters $horizontal-gutters;
	&.panel-green-grad {
		background: rgba(78,226,169,1);
		background: -moz-linear-gradient(45deg, rgba(78,226,169,1) 0%, rgba(66,215,230,1) 100%);
		background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(78,226,169,1)), color-stop(100%, rgba(66,215,230,1)));
		background: -webkit-linear-gradient(45deg, rgba(78,226,169,1) 0%, rgba(66,215,230,1) 100%);
		background: -o-linear-gradient(45deg, rgba(78,226,169,1) 0%, rgba(66,215,230,1) 100%);
		background: -ms-linear-gradient(45deg, rgba(78,226,169,1) 0%, rgba(66,215,230,1) 100%);
		background: linear-gradient(45deg, rgba(78,226,169,1) 0%, rgba(66,215,230,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3da4f4', endColorstr='#42d7e6', GradientType=1 );
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.availability-title {
		text-align: center;
		color: white;
		font-weight: 100;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 10px;
		margin-top: 10px;
	}
	.availability-value {
		color: white;
		text-align: center;
		font-size: 23px;
		font-weight: 100;
		margin-bottom: 10px;
	}
}
