.patients-panel {
	position: relative;

	padding: 15px;
	margin-bottom: 5px;

	border-radius: $border-radius;
	background-color: $white_color;

	cursor: pointer;

	@include user-select(none);

	@include transition(transform $animation-duration $animation-type);

	.patient-information {
		display: table;
		width: 100%;
		table-layout: fixed;

		.avatar {
			display: table-cell;
		}

		h4 {
			width: 100%;
			vertical-align: middle;
			font-size: 15px;
			line-height: 16px;
			font-weight: normal;
			color: rgb(43, 49, 62);
			display: table-cell;
			padding: 0 0 0 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			small {
				color: rgba(43, 49, 62, 0.5);
				display: block;
				vertical-align: top;
				font-size: 12px;
				font-weight: 300;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	.patient-message {
		@include display-flex;
		margin-top: 15px;

		color: $black_text_color;

		.message {
			white-space: nowrap;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: middle;
			line-height: 16px;
			padding-left: 40px;
			padding-right: 25px;
			font-weight: 300;
			@include flex(1);
		}

		.message-time {
			line-height: 16px;
			padding-left: 11px;
			color: $light_text_color;
			font-size: 11px;
		}
	}

	.actions {
		position: absolute;
		top: 50%;
		margin-top: -22.5px;
		right: -65px;

		a {
			display: block;
			width: 45px;
			height: 45px;

			font-size: 25px;
			text-decoration: none;
			text-align: center;
			line-height: 47px;

			border-radius: 35px;
			background: $blue_color;
			color: white;
		}
	}

	.collapse-panel {
		position: absolute;
		top: 8px;
		right: 10px;

		display: none;

		text-decoration: none;
		font-size: 22px;
		line-height: 22px;
		color: #9aa1b2;

		&:focus, &:active, &:hover {
			color: darken(#9aa1b2, 20);
		}
	}

	.patient-menu {
		display: none;
	}

	&.opened {
		.patient-last-message {
			display: none;
		}
		.collapse-panel {
			display: block;
		}
		.patient-menu {
			display: block;	
		}
	}
}

.message-flex {
	display: flex;
	.message {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		@include flex(1);
		padding-right: 30px;
	}
	.message-time {
		padding-left: 11px;
		color: $light_text_color;
		font-size: 11px;
		font-weight: 400;
	}
}


.patient-menu {
	margin: 15px 0 -15px;
	padding: 0;
	list-style-type: none;

	&.lines-before {
		li {
			a {
				&::before {
					display: block;
					content: " ";
					height: 1px;
					background: #f4f4f5;
				}

				&.with-arrow {
					&::after {
						position: absolute;
						right: 7px;
						top: 0;
						font-family: 'id4md';
						font-size: 24px;
						display: block;
						content: "\e901";
						color: #9aa1b2;
						line-height: 61px;
					}
				}
			}
		}
	}

	&.lines-after {
		li {
			a {
				&::after {
					display: block;
					content: " ";
					height: 1px;
					background: #f4f4f5;
				}
				&.with-arrow {
					&::before {
						position: absolute;
						right: 7px;
						top: 0;
						font-family: 'id4md';
						font-size: 24px;
						display: block;
						content: "\e901";
						color: #9aa1b2;
						line-height: 61px;
					}
				}
			}
		}
	}

	li {
		margin: -1px -15px 0;
		a {
			position: relative;
			line-height: 59px;
			height: 60px;
			display: block;
			color: #2b313e;
			text-decoration: none;
			font-size: 14px;
			font-weight: 300;
			padding: 0 15px;

			.icon {
				display: inline-block;
				width: 40px;
				line-height: 59px;
				text-align: center;
				font-size: 22px;
				vertical-align: top;
				color: #9aa1b2;
				float: left;
				padding-right: 10px;
			}

			.counter {
				float: right;
				display: block;
				margin-right: 20px;
				font-style: normal;
				color: #95989e;
			}

			&.with-icon {
				&::before, &::after {
					margin-left: 40px;
				}				
			}

			&:active {
				background: #f4f4f5;
			}
		}
	}

	&.light {
		li {
			a {
				color: white;
				&:active {
					background: rgba(0,0 ,0, .15);
				}
			}
		}

		&.lines-after {
			li {
				a {
					&::after {
						background: rgba(255, 255, 255, .05) !important;
					}		
				}
			}
		}

		&.lines-before {
			li {
				a {
					&::before {
						background: rgba(255, 255, 255, .05) !important;
					}		
				}
			}
		}
	}

	&.patient-menu-select {
		span {
			margin-left: 45px;
		}
		
		&.lines-after {
			a {
				&.active {
					&::before {
						font-family: 'id4md' !important;
						speak: none;
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-transform: none;
						line-height: 60px;
						/* Better Font Rendering =========== */
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						float: left;
						display: block;
						content: "\e922";
						font-size: 15px;
						color: #4ee2a9;
						position: absolute
					}
				}
			}
		}
		&.lines-before {
		}

	}
}

.patient-menu-wrapper {
	margin: 0 (-$horizontal-gutters);
	padding: 0 $horizontal-gutters;
	&.white {
		background: #fff;
	}
}
