.patients-panel {
	position: relative;

	padding: 15px;
	margin-bottom: 5px;

	border-radius: $border-radius;
	background-color: $white_color;

	cursor: pointer;

	@include transition(transform $animation-duration $animation-type);

	.patient-information {
		display: table;
		width: 100%;
		table-layout: fixed;

		.avatar {
			display: table-cell;
		}

		h4 {
			width: 100%;
			vertical-align: middle;
			font-size: 15px;
			line-height: 16px;
			font-weight: normal;
			color: rgb(43, 49, 62);
			display: table-cell;
			padding: 0 0 0 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			small {
				color: rgba(43, 49, 62, 0.5);
				display: block;
				vertical-align: top;
				font-size: 12px;
				font-weight: 300;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	.patient-last-message {
		@include display-flex;
		margin-top: 15px;

		color: $black_text_color;

		.message {
			white-space: nowrap;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: middle;
			line-height: 16px;
			padding-left: 40px;
			padding-right: 25px;
			font-weight: 300;
			@include flex(1);
		}

		.message-time {
			line-height: 16px;
			padding-left: 11px;
			color: $light_text_color;
			font-size: 11px;
		}
	}

	.actions {
		position: absolute;
		top: 50%;
		margin-top: -17.5px;
		right: -65px;

		a {
			display: block;
			width: 35px;
			height: 35px;
			border-radius: 35px;
			background: $blue_color;
			font-size: 20px;
			color: white;
			line-height: 38px;
			text-decoration: none;
			text-align: center;
		}
	}
}
